@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url("https://wallpapercave.com/wp/wp8695692.jpg");
}

h1 {
    font-family: "Dakdo-DOIRW", sans-serif;
    font-size: 8em;
    background-clip: text; 
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, rgb(42, 171, 251) 0%, rgb(255, 90, 117) 50%, white 100%);
  }
  

#pokemonInfo{
    width: 400px;
    height: 500px;
    background-color: rgb(255, 70, 70);
    background-image: url("pokedex\ Background\ Removed.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

input[type="text"]{
    height: 30px;
    width: 200px;
}

button{
    width: 120px;
    height: 30px;
}

#pokemonSprite1{
    width: 300px;
    height: 300px;
}

#pokemonSprite1 img{
    width: 100%;
    height: 100%;
}

p{
    font-size: 22px;
}

#pokemonName, #pokemonID{
    font-weight: 800;
}

.image-box{
    width: 300px;
    height: 300px;
}